@import "./variables";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

code {
  font-family: $font-monospace;
}

// Bootstrap overrides for accessibility contrast
a {
  color: #00f;
}

.btn-primary {
  background-color: #00f;
  border-color: #00f;
}
