// @import is deprecated, should be @use but create-react-app does not support it
@import "../../styles/variables";

.site-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 3em;
  align-items: center;
  background-color: $header-body;
  color: $text-inverse;

  ol {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    background-color: $header-body;
    transition: max-height 0s linear;
  }

  ol,
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li a {
    display: block;
    align-items: center;
    padding: 0.5em 1em;
    color: $header-link;

    &:focus,
    &:hover {
      color: $header-hover;
    }
  }

  a {
    color: $header-link;

    &:focus,
    &:hover {
      color: $header-hover;
    }
  }
}
