// @import is deprecated, should be @use but create-react-app does not support it
@import "../../styles/variables";

.site-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 3em;
  align-items: center;
  background-color: $header-body;
  color: $text-inverse;

  > * {
    margin: 0;
    padding: 0 0.5em;
  }

  a {
    color: $header-link;

    &:focus,
    &:hover {
      color: $header-hover;
    }
  }
}
